<mat-card class="flex flex-col gap-7 mat-elevation-z8 p-5">
  <div class="w-full block">
    <!--  <div class="w-40 h-40 rounded-full bg-gray-600"></div> -->
    <app-image-upload
      [isUploading]="isUploading"
      [image]="image"
      (imageUploadEvent)="uploadImage($event)"
    ></app-image-upload>
  </div>
  <div class="w-full flex flex-col gap-5">
    <h3 class="text-lg font-semibold mb-4 text-gray-700">
      <mat-icon>infos</mat-icon>
      Information utilisateur
    </h3>
    <form
      class="w-full flex flex-col gap-4"
      [formGroup]="profileForm"
      (ngSubmit)="updateUserInfos()"
    >
      <div class="w-full">
        <div class="w-full flex items-center justify-center gap-3">
          <mat-form-field class="flex-1">
            <mat-label>Nom</mat-label>
            <input
              matInput
              placeholder="Entrer votre nom"
              formControlName="firstName"
            />
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="firstNameInvalid">
              <span *ngxControlError="firstName; track: 'required'"
                >Champ nom est réquis</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-1">
            <mat-label>Prénom</mat-label>
            <input
              matInput
              placeholder="Entrer votre prénom"
              formControlName="lastName"
            />
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="lastNameInvalid">
              <span *ngxControlError="lastName; track: 'required'"
                >Champ prénom est réquis</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-1">
            <mat-label>Tél</mat-label>
            <input
              matInput
              placeholder="Votre numéros de télephone"
              formControlName="phoneNu"
            />
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="phoneNuInvalid">
              <span *ngxControlError="phoneNu; track: 'required'"
                >Numéros de téléphone est réquis</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-full flex items-center justify-center gap-3">
          <mat-form-field class="flex-1">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="nom@exemple.com"
              formControlName="email"
              required
            />
            <mat-icon matSuffix class="text-gray-400">email</mat-icon>
            <mat-error *ngIf="emailInvalid">
              <span *ngxControlError="email; track: 'required'"
                >Champ email est réquis</span
              >
              <span *ngxControlError="email; track: 'email'"
                >Email invalide</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-1">
            <mat-label>Mot de passe</mat-label>
            <input
              matInput
              type="password"
              placeholder="****"
              formControlName="password"
              required
            />
            <mat-icon matSuffix class="text-gray-400">lock</mat-icon>
            <mat-error *ngIf="passwordInvalid">
              <span *ngxControlError="password; track: 'minlength'">
                Le mots de passe doit avoir au moins 4 caractères
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="w-full flex items-center justify-end gap-3">
        <button mat-flat-button color="primary" type="submit">
          <span *ngIf="loading()">Loading...</span>
          <span *ngIf="!loading()">Modifier</span>
        </button>
        <button
          class="bg-slate-600 text-white rounded-3xl p-2 hover:bg-slate-700 w-[120px]"
          (click)="cancel()"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</mat-card>
