<form
  [formGroup]="resetPswdForm"
  (ngSubmit)="updatePswdProcess()"
  class="w-md mx-auto mt-12 p-3"
>
  <mat-card class="mat-elevation-z8 flex flex-col gap-4">
    <mat-card-header class="border-0 rounded-t-lg">
      <h1 class="text-gray-600 text-2xl font-bold">
        <mat-icon>people</mat-icon>
        Changer le mots de passe
      </h1>
    </mat-card-header>
    <mat-card-content class="flex flex-col gap-10">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input required matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="emailInvalid">
          <span *ngxControlError="email; track: 'required'"
            >Email est recquis</span
          >
          <span *ngxControlError="email; track: 'email'"
            >Email est invalide</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Ancien mots de passe</mat-label>
        <input
          required
          matInput
          placeholder="Old password"
          type="password"
          formControlName="oldPassword"
        />
        <mat-error *ngIf="oldPswdInvalid">
          <span *ngxControlError="oldPassword; track: 'required'"
            >Ancien mots de passe est recquis</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Nouveau mots de passe</mat-label>
        <input
          required
          matInput
          placeholder="New password"
          type="password"
          formControlName="newPassword"
        />
        <mat-error *ngIf="newPswdInvalid">
          <span *ngxControlError="newPassword; track: 'required'"
            >Nouveau mots de passe est recquis</span
          >
          <span *ngxControlError="newPassword; track: 'minlength'"
            >Mots de passe a au moins 4 caractères</span
          >
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="w-[96%] mx-auto flex items-center justify-center gap-4">
        <button type="submit" mat-flat-button color="primary" class="w-full">
          <span *ngIf="loading()">Loading...</span>
          <span *ngIf="!loading()">Envoyer</span>
        </button>
        <button
          class="bg-slate-600 text-white rounded-3xl w-full p-2 hover:bg-slate-700"
          (click)="cancel()"
        >
          Annuler
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
