<div
  class="bg-white shadow-xl rounded-lg w-full max-w-4xl overflow-hidden"
  *ngIf="purchaseOrdeDetails"
>
  <div class="p-6 text-gray-600 text-center">
    <h1 class="text-2xl font-bold tracking-wide">Details de la commande</h1>
  </div>

  <div class="p-6 md:p-10">
    <div class="space-y-4 max-w-2xl mx-auto">
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Numéro de facture :</span>
        <span class="text-gray-900 font-medium"
          >#FAC-{{ purchaseOrdeDetails.invoiceNo }}</span
        >
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Nom du fournisseur :</span>
        <span class="text-gray-900 font-medium">{{
          purchaseOrdeDetails.supplierName
        }}</span>
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Statut de la commande :</span>
        <span
          class="px-3 py-1 rounded-full text-sm font-bold"
          [ngClass]="{
            'bg-blue-100 text-blue-800':
              purchaseOrdeDetails.status === 'PENDING',
            'bg-yellow-100 text-yellow-800':
              purchaseOrdeDetails.status === 'CONFIRMED',
            'bg-red-100 text-red-600':
              purchaseOrdeDetails.status === 'CANCELLED',
            'bg-green-100 text-green-800':
              purchaseOrdeDetails.status === 'DELIVERED'
          }"
        >
          {{ status }}
        </span>
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Date de la création :</span>
        <span class="text-gray-900 font-medium">{{
          purchaseOrdeDetails.createdDate | date : "fullDate"
        }}</span>
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600"
          >Date de la livraison prévue :</span
        >
        <span class="text-gray-900 font-medium">{{
          purchaseOrdeDetails.receiveDate | date : "fullDate"
        }}</span>
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Créé par :</span>
        <span class="text-gray-900 font-medium">{{
          purchaseOrdeDetails.employee
        }}</span>
      </div>

      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-600">Montant Total :</span>
        <span class="text-2xl font-bold text-blue-600">{{
          purchaseOrdeDetails.totalAmounts | currency : "EUR"
        }}</span>
      </div>
    </div>

    <div class="mt-12">
      <h3
        class="text-lg font-bold text-gray-800 mb-4 border-l-4 border-blue-600 pl-2"
      >
        Détails des articles
      </h3>

      <div class="overflow-x-auto">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="bg-gray-50 border-b">
              <th class="py-3 px-4 font-semibold text-gray-700">Produit</th>
              <th class="py-3 px-4 font-semibold text-gray-700 text-center">
                Prix d'achat
              </th>
              <th class="py-3 px-4 font-semibold text-gray-700 text-center">
                Quantité
              </th>
              <th class="py-3 px-4 font-semibold text-gray-700 text-right">
                Sous-total
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
            @for(item of purchaseOrdeDetails.items;track item.itemName){
            <tr>
              <td class="py-4 px-4 text-gray-800">
                {{ item.itemName }}
              </td>
              <td class="py-4 px-4 text-center">
                {{ item.costPrice | currency : "EUR" }}
              </td>
              <td class="py-4 px-4 text-center">{{ item.quantity }}</td>
              <td class="py-4 px-4 text-right font-medium">
                {{ item.totalItems | currency : "EUR" }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-10 flex justify-center items-center gap-4">
      <a
        routerLink="/stock/purchase-order/new"
        class="bg-slate-600 hover:bg-slate-700 text-white font-bold py-2 px-8 rounded transition duration-200"
      >
        Nouvelle commande
      </a>
      <a
        routerLink="/stock/purchase-order/list"
        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded transition duration-200"
      >
        Listes commandes
      </a>
      <button
        class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-8 rounded transition duration-200"
        (click)="generateInvoice()"
      >
        Genérer facture
      </button>
    </div>
    <div
      class="flex flex-col gap-3 md:flex-row md:items-center w-full mt-10 mx-auto max-w-lg"
    >
      <div class="text-slate-600 text-lg md:text-2xl font-semibold w-full">
        Modifier le status:
      </div>
      <mat-form-field class="w-full">
        <mat-label>Status</mat-label>
        <mat-select
          [formControl]="statusFormControl"
          (selectionChange)="updateStatusOfPurchaseOrder($event.value)"
        >
          @for(status of listOfStatus; track status.value){
          <mat-option [value]="status.value">{{ status.label }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix class="text-gray-400">list</mat-icon>
      </mat-form-field>
    </div>
    @if(updateStatusLoading){
    <div class="mt-7 mx-auto w-full max-w-md flex items-center justify-center">
      <p class="text-gray-500 font-semibold text-lg">
        Modification de status en cours...
      </p>
    </div>
    }
  </div>
</div>
